body
	{font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 22px;
}
h1{
	color:aqua;
	text-align: center;
	padding: 25px;
	margin-bottom: 22px;
}
	.expense-section{
		background-color: #e8f5e9;
		color:turquoise;
		padding: 30px;
		border-radius: 10px;
	}
	input {
		display: block;
		width: 90%;
		padding: 12px;
		margin-top: 19px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}